<div class="row no-padding">
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="../../assets/images/now-hiring.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Job title</h5>
        <p class="card-subtitle"><i class="fas fa-map-marker-alt"></i> Berlin, DE</p>
        <p class="card-text">Here's some information about the Job description and other requirements.</p>
        <a href="#" class="btn btn-warning">Read more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="../../assets/images/now-hiring.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Job title</h5>
        <p class="card-subtitle"><i class="fas fa-map-marker-alt"></i> Berlin, DE</p>
        <p class="card-text">Here's some information about the Job description and other requirements.</p>
        <a href="#" class="btn btn-warning">Read more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="../../assets/images/now-hiring.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Job title</h5>
        <p class="card-subtitle"><i class="fas fa-map-marker-alt"></i> Berlin, DE</p>
        <p class="card-text">Here's some information about the Job description and other requirements.</p>
        <a href="#" class="btn btn-warning">Read more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img class="card-img-top" src="../../assets/images/now-hiring.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Job title</h5>
        <p class="card-subtitle"><i class="fas fa-map-marker-alt"></i> Berlin, DE</p>
        <p class="card-text">Here's some information about the Job description and other requirements.</p>
        <a href="#" class="btn btn-warning">Read more</a>
      </div>
    </div>
  </div>
</div>
