<div class="row py-5">
  <div class="col-12" *ngFor="let job of jobs">
    <div class="card mb-4 shadow-sm" *ngIf="job.state == 'active'">
      <a [routerLink]="['job-details', job.id]" class="text-dark text-decoration-none" tooltip="Click for more detailed information!">
        <div class="row no-gutters">
          <div class="col-md-2">
            <img class="card-img-top" [src]="job.thumbnail" alt="Card image cap">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{ job.title }}</h5>
              <p><small><i class="fas fa-clock"></i></small> Created: <span class="badge badge-warning"> {{ job.created_at | amDateFormat: 'DD-MM-YYYY' }} </span><small>&nbsp;&nbsp;<i class="fas fa-clock"></i></small> Ending: <span class="badge badge-warning"> {{ job.end_date | amDateFormat: 'DD-MM-YYYY' }} </span></p>
              <p class="card-subtitle"><i class="fas fa-map-marker-alt"></i> {{ job.city }}, {{ job.zip_code }}</p>
              <p class="card-text">{{ (job.description | slice:0:200)+'...'}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
